.THIS.bmi-wrapper {
    background: rgb(216, 237, 255);
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 600px;
    margin: 0 auto;
}
.THIS .bmi-message {
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 2px;
}

.THIS .is-risk {
    background-color: red;
    font-weight: bold;
}

.THIS .no-risk {
    background-color: green;
    font-weight: bold;
}